@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body {
	background-color:  hsl(217, 54%, 11%);
	font-family: 'Outfit', sans-serif;
	color: white;
	margin: auto;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
	
}

.card {
	background-color: hsl(216, 50%, 16%);
	border-radius: 20px;
	width: 350px;
	flex-direction: column;
}

.image > img {
	position: relative;
	width: 270px;
	border-radius: 20px;
}
